:root{
    --team-pink: #FCC3C3;
    --team-yellow: #E4E483;
}


body {
    @font-face {
        font-family: 'Inter';
        src: url('https://fonts.googleapis.com/css?family=Inter');
    }
}

/* Smartphone - Landscape and Portrait*/
@media only screen and (min-width: 390px) and (max-width: 480px) {

    body {
        font-family: 'Inter', sans-serif;
        background-color: white;
    }

    .sidebar-dash{
        display: flex;
        flex-direction: row;
        background-color: white;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        align-items: center;
        justify-content: center;
    }




    .user-holder p{
        font-size: 15px;
        padding-left: 20%;
        padding-bottom: 50%;
        text-align: center;
    }

    .pfp{
        width: 40px;
        height: 40px;
    }


    .icons{
        width:20px;
        height: 20px;
        padding-top: 100%;
        gap:10px;
    }

    .icons-text-holder{
        display: flex;
        flex-direction: row;
        gap:2px;
    }

    .sub{
        display: flex;
        width: 400px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: white;
    }
    
    .icons-holder{
        display: flex;
        flex-direction: row;
        gap:10px;
    }

    .text-holder{
        display: flex;
        flex-direction: row;
        padding-left: 10%;
        gap:5px;
        font-weight: bold;
    }

    .top-page{
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .teams-s-text{
        padding-left: 7%;
        font-size: 11px;
        font-weight: bold;
        color: white;

    }

    /*Containers*/

    .main-container{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding-left: 2%;
        padding-right: 2%;
    }

    .teams-container{
        width: 400px;
        height: 90px;
        border-radius: 20px;
        background-color: #C991D0;
        padding-bottom: 10px;
    }


    /*Color - Teams*/

    .team-blue{
        background-color: #B9D9D6;
    }

    .team-peach{
        background-color: #EEB48D;
    }
    
    .tasks-container{
        flex-direction: column;
        display: flex;
        width: 380px;
        height: 90px;
        border-radius: 30px;
        background-color: #F8F8F8;
        padding-top: 5%;
        line-height: 0.1;
        padding-left: 7%;
        flex-wrap: wrap;

    }
    
    .tasks-c{
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        gap:10px;
        align-items: normal;
        padding-left: 10%;
    }


    .stats-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 2%;
        gap: 30px;
        flex-wrap: wrap;
    }

    .st-1{
        width: 380px;
        height: 90px;
        border-radius: 20px;
        background-color: #D9D9D9;

    }
    


    .add-w{
        display: flex;
        width: 360px;
        height: 40px;
        border-radius: 20px;
        border-style: dashed;
        border-color: #D9D9D9;
    }

    .add-w-text{
        font-size: 16px;
        font-weight: bold;
        color: #D9D9D9;
        align-content: center;
    }


    .cal-sec{
        display: flex;
        flex-direction: column;
        width:100%;
        background-color: #f8f8f8;
        justify-content: right;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    }

    .calendar{
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .cal-item{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-left: 10%;
    }

    .cal-text{
        font-size: 14px;
        font-weight: normal;
        padding-left: 3%;
    }

    .stat-text{
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        padding-left: 10%;

    }

  
    /* Text Styles*/


    .day{
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10%;
        color:black;
    }

    .task{
        padding-top: 10%;
        font-weight: bold;
        font-size: 16px;
        color:black;
    }

    .bottom-text{
        font-weight: normal;
        font-size: 14px;
        color:gray;
        opacity: 70%;
    }

    .top-text{
        font-size:12px;
        font-weight: bold;
        color:gray;
    }

    .add-w-text{
        font-size: 16px;
        font-weight: bold;
        color: #D9D9D9;
        align-content: center;
        padding-left:130px;
    }

    .nav-text{
        font-size:30px;
        color:black;
        white-space: nowrap;
        align-content: center;
        font-weight: bold;
        padding-left: 13%;
        padding-top: 5%;
        line-height: 0.001;
        padding-bottom: 2%;
    }

    .head-text{
        font-size: 20px;
        color: black;
        font-weight: bold;
        padding-top: 10%;
        padding-bottom: 7%;
        padding-left: 2%;
    }


    .text-v1{
        font: 15px; 
        font-weight: bold;
        color: white;
        text-align: left;
        text-align: left;
        padding-left: 7%;
    }

    .text-v2{
        font: 15px;
        font-weight: bold;
        color: black;
        text-align: left;
        padding-top:1%;
    }

    .task-s-text{
        font: 12px;
        font-weight: regular;
        color: black;
        text-align: left;
    }


    .date-text{
        font-size: 15px;
        font-weight:normal;
        font-style: italic;
    }

    .upg-c{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 150px;
        width: 360px;
        box-shadow: 10px 10px 30px #DCDBD0;
        padding-left: 10%;
    }

    .upg-text-h{
        font-size: 25px;
        font-weight: bold;
        padding-top: 10%;

    }

    .upg-text-p{
        font-size: 15px;
        font-weight: normal;


    }

    .upg-img{
        padding-top: 10%;
        padding-left: 25%;
        width: 120px;
        height: 110px;
    }

    .checkbox{
        width: 20px;
        height: 20px;
        align-items: flex-end;
    }

    .t-cont{
        display: flex;
        flex-direction: column;
        padding-left: 8%;
        padding-bottom: 3%;
        width: 100%;
        gap:10px;
    }

    .st-c{  
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 400px;
        padding-right: 1%; 
        padding-left: 8%;

    }

    .center{
        display: flex;
        flex-direction: column;
        background-color: white;
    }




    

}

/* Tablet and Laptop  */

@media screen and (min-width: 480px) and (max-width: 1980px) {

    body {
        background-color: #DCDBD0;
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 1%;
    }


    .header{
        display: flex;
        width:10%;
        height: 100%;
        flex-direction: row;
        background-color: rgb(224, 198, 221);
        justify-content: space-evenly;
    }

    .icons{
        width:30px;
        height: 30px;
        padding-top: 40%;
    }

    /*Containers*/

    .top-page{
        width: 800px;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding-left: 8%;
        padding-right: 10%;
    }

    .t-cont{
        display: flex;
        flex-direction: row;
        padding-left: 2%;
        gap: 1%;
        padding-bottom: 3%;
        width: 100%;
    }

    .tasks-c{
        display: flex;
        flex-direction: column;
        gap:10px;
        width: 40%;
        align-items: center;
        padding-right: 3%;
    }

    .teams-container{
        width: 280px;
        height: 160px;
        border-radius: 20px;
        background-color: #C991D0;
        padding-bottom: 10px;
    }

    .center{
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .sub{
        display: flex;
        width: 800px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        background-color: white;
        padding-top: 5%;

    }

    /*Color - Teams*/

    .team-blue{
        background-color: #B9D9D6;
    }

    .team-peach{
        background-color: #EEB48D;
    }

    

    .tasks-container{
        flex-direction: column;
        display: flex;
        width: 220px;
        height: 90px;
        border-radius: 30px;
        background-color: #F8F8F8;
        padding-top: 5%;
        line-height: 0.1;
        padding-left: 7%;
        flex-wrap: wrap;

    }

    .stats-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        flex-wrap: wrap;
        height: 190px;
        align-items: left;
    }

    .st-c{  
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        padding-right: 1%; 

    }

    .st-1{
        padding-left:2%;
        padding-right: 2%;
        border-radius: 20px;
        background-color: #F3F3F1;
        border-color: #F1F1F1;
        border-width: 0.5px 0.5px 0.5px 0.5px;
        border-style: solid;
        width: 100px;
        height: 120px;
        box-shadow: 10px 5px 30px #DCDBD0;

    }

    .sub-text{
        font-size: 14px;
        padding-top: 10%;
        padding-left: 5%;
    }

    .add-w{
        display: flex;
        border-radius: 20px;
        border-style: dashed;
        border-color: #D9D9D9;
        width: 100px;   
        height: 120px;
        box-shadow: 10px 5px 30px #DCDBD0;
    }

    .cal-sec{
        display: flex;
        flex-direction: column;
        width:15%;
        height: 900px;
        background-color: #f8f8f8;
        justify-content: right;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    }

    .calendar{
        display: flex;
        flex-direction: column;
        align-items: left;

    }

    .cal-item{
        display: flex;
        flex-direction: column;
    }

    .cal-text{
        font-size: 14px;
        font-weight: normal;
        padding-left: 3%;
    }

    .stat-text{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        padding-left: 5%;

    }

    .pfp{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        padding-left: 10%;
    }

    .icons-text-holder{
        display: flex;
        flex-direction: row;
        gap:2px;
    }

    .icons-holder{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        gap:10px;
    }

    .text-holder{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        gap:5px;
        font-weight: bold;
    }

    .user-holder p{
        font-size: 15px;
        padding-left: 20%;
        padding-bottom: 50%;
        text-align: center;
    }
  
    /* Text Styles*/


    .day{
        padding-top: 30%;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10%;
        color:black;
        padding-left: 10%;

    }

    .task{
        padding-top: 10%;
        font-weight: bold;
        font-size: 16px;
        color:black;
    }

    .bottom-text{
        font-weight: bold;
        font-size: 14px;
        color:gray;
        opacity: 70%;
    }

    .top-text{
        font-size:12px;
        font-weight: normal;
        color:gray;
    }

    .add-w-text{
        font-size: 15px;
        font-weight: bold;
        color: #D9D9D9;
        align-content: center;
        padding-left: 15%;
    }

    .teams-s-text{
        padding-left: 10%;
        font-size: 11px;
        padding-top: 6%;
        font-weight: bold;
        color: white;

    }

    .nav-text{
        font-size:30px;
        color:black;
        white-space: nowrap;
        align-content: center;
        font-weight: bold;
        padding-left: 10%;
        padding-top: 7%;
        line-height: 0.001;
        padding-bottom: 2%;
    }

    .sidebar-dash{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 15%;
        height: 900px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        align-items: center;
        justify-content: center;
    }

    .sidebar-text{
        font-size: 12px;
        font-weight: bold;
        padding-left: 5%;
    }

    .head-text{
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding-top: 1%;
        padding-bottom: 3%;
        padding-right: 12%;
    }


    .text-v1{
        font-size: 20px;
        text-wrap: wrap;
        font-weight: bold;
        color: white;
        text-align: left;
        padding-left: 8%;
        padding-top: 15%;
    }

    .text-v2{
        font: 15px;
        font-weight: bold;
        color: black;
        text-align: left;
        padding-top:1%;
    }

    .task-s-text{
        font: 12px;
        font-weight: regular;
        color: black;
        text-align: left;
        
    }

    .date-text{
        font-size: 15px;
        font-weight:normal;
        font-style: italic;
        padding-top: 1%;
        padding-bottom: 3%;
    }

    .upg-c{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 150px;
        width: 360px;
        box-shadow: 10px 10px 30px #DCDBD0;
        padding-left: 10%;
    }

    .upg-text-h{
        font-size: 25px;
        font-weight: bold;
        padding-top: 10%;

    }

    .upg-text-p{
        font-size: 15px;
        font-weight: normal;


    }

    .upg-img{
        padding-top: 10%;
        padding-left: 25%;
        width: 120px;
        height: 110px;
    }

    .checkbox{
        width: 20px;
        height: 20px;
        align-items: flex-end;
    }
    
} 







